<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="">

<form>
    Pick a topic:
    <input type="radio" ng-model="myVar" value="dogs">Dogs
    <input type="radio" ng-model="myVar" value="tuts">Tutorials
    <input type="radio" ng-model="myVar" value="cars">Cars
    <input type="radio" ng-model="myVar" value="cars">Cars
</form>
{{myVar}}

<p>The ng-switch directive hides and shows HTML sections depending on the value of the radio buttons.</p>
